.banner{
	position: relative;
	height: 70vh;
	padding: 50px;
	background-image: url('https://wallpaperstudio10.com/static/wpdb/wallpapers/1920x1080/169189.jpg');
	background-size: cover;
	color: white;
	padding-top: 30vh;
}

.banner-title{
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	font-weight: 1000;
	background: linear-gradient(rgba(0,0,0,.4), rgba(255,255,255,.4));
}

.content{
	min-height: calc(100vh - 34px);
}

.section-title{
    text-align: center;
    padding-top: 20px;
    color: black;
    font-size: 35px;
}

/*category*/
.categories-container{
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.category-item{
	display: flex;
	flex-direction: column;
	width: 45%;
	border: 4px solid grey;
 	border-radius: 25px;
 	margin-bottom: 20px;
}

.element-photo{
	width: 90%;
	height: 400px;
	margin-top: 20px;
}

/*item*/
.items-container{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}

.item{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	padding-left: 20px;
	border: 4px solid grey;
 	border-radius: 25px;
 	margin-bottom: 20px;
}

.photo-container{
	flex-grow: 2;
	margin: 20px;

}

.item-content-container{
	flex-grow: 1;
}



@media screen and (max-width:1000px){
	.categories-container{
		flex-direction: column;
	}

	.category-item{
		width: 100%;
		flex-direction: row;
	}

	.element-photo{
		height: 200px;
		margin-top: 50px;
	}

}

@media screen and (max-width: 830px){
	.element-photo{
		display: none;
	}

	.item-title{
		font-size: 25px;
	}
}