.navigation{
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
}

.nav-right{
	margin-left: auto;
	right: 10%;
}

@media screen and (max-width 768px){
	.nav-right{
		position: static;
		background-color: red;
	}
}